.restaurant {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: palegoldenrod;
    border-radius: 5px;
}

.name {
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
}

.menu, .reviews, .newReview {
    margin-bottom: 10px;
}