.counter {
    display: flex;
    gap: 5px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-width: thin;
    border-radius: 5px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
